<p id="notice"><%= notice %></p>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <%= link_to 'Add User', new_user_path, class: 'm-0 font-weight-bold' %>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm table-hover" id="dttb-users" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
        </tr>
        </thead>

        <tfoot>
        <tr>
          <th>First name</th>
          <th>Last name</th>
        </tr>
        </tfoot>

        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.first_name, user %></td>
            <td><%= user.last_name %></td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>